<%= render "shared/header" %>
<div class="money-container">
  <h1 class="money-title">今月は</h1>
    <%= form_with model: @money,url: money_path, local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>
      <div class="price-form">
      <span class="yen">￥</span><%= f.text_field :balance, class:"form-control price-box",id:"balance-price",rows:"1" ,maxlength:"6" %>
      </div>
      <div class="price-example">￥0 ~ ￥999,999(例:9999)</div>
      <%= f.submit "設定", class:"btn btn-outline-dark setting-btn" %>
    <% end %>
    <%=link_to 'もどる', moneys_path, class:"btn btn-outline-dark back-btn" %>
</div>
<div class="items-sell-main">
    <button class="calc-btn btn" id="calc-btn">
      <%= image_tag "calculator.png", class:"calc-btn-icon"%>
    </button>
</div>

<div class="sample-popup-window">
	<div class="sample-popup-background" id="sample-popup-background"></div>
	<div class="sample-popup-box">
		<div class="sample-popup-content" id="sample-popup-content">
			<form onsubmit="return false;">
      <input type="text" class="amount-price form-control" id="amount-price" maxlength="6">
      <span class="price-comment">円使うぜ。。。</span>
      </form>
		</div>
	</div>
</div>