<%= render "shared/header" %>
<div class = "money-counter">
  <% if current_user.money.present? %>
    <%= link_to edit_money_path(@money.id), class:"money-number" do %>
      ￥ <%= @money.balance %>
    <% end %>
    <%= link_to money_path(@money.id), method: :delete ,class: 'reset-btn btn' do %>
      <%= image_tag 'reset.png' ,class: "reset-btn-icon" %>
    <% end %>
    <%=link_to edit_money_path(@money.id) do %>
      <button class="calc-btn btn" id="calc-btn">
        <%= image_tag "calculator.png", class:"calc-btn-icon"%>
      </button>
    <% end %>
  <% else %>
    <%= link_to new_money_path, class:"money-number" do %>
      <div>￥ ---</div>
    <% end %>
  <% end %>
</div>