<%= render "shared/header" %>
<% if current_user.money.blank? %>
<%=link_to '設定',new_money_path, class:"btn btn-secondary info-btn" %>
<% end %>
<% if current_user.money.present? %>
<%=link_to '編集',edit_money_path(@money.id), class:"btn btn-secondary info-btn" %>
<% end %>
<div class = "money-counter">
  <div class = "money-number">
  <% if current_user.money.present? %>
  <%= link_to edit_money_path(@money.id), class:"money-number" do %>
  <%= @money.balance %> 円
  <% end %>
  <% else %>
  <%= link_to new_money_path, class:"money-number" do %>
  <div>---   円</div>
  <% end %>
  <% end %>
  </div>
</div>