<% items.each do |item| %>
  <div class="card shadow-sm">
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.image, class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <%= link_to 'show', item_path(item.id), class:"btn btn-outline-light"%>
      <% if !Favorite.exists?(user: current_user, item_id: item.id)%>
        <%= link_to item_favorites_path(item.id), method: :post, class:"star-btn favorite-post" do %>
          <%= image_tag "star.png", class:"star-icon" %>
        <% end %>
      <% else %>
        <%= link_to item_favorites_path(item.id), method: :delete, class:"star-btn" do %>
          <%= image_tag "star.png", class:"star-icon favorite-delete" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>