<h2 class="items-sell-title">商品の情報を入力</h2>
<%= form_with model: @item, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>
  <div class="img-upload">
    <div class="weight-bold-text">
      商品画像
      <span class="indispensable">必須</span>
    </div>
    <div class="click-upload">
      <p>
        クリックしてファイルをアップロード
      </p>
      <%= f.file_field :image, id:"item-image" %>
    </div>
  </div>
  <div class="weight-bold-text">
        詳細
        <span class="indispensable">必須</span>
      <%= f.text_area :text, class:"items-text form-control", id:"item-info",rows:"7" ,maxlength:"1000" %>
  </div>
  <div class="items-detail">
    <div class="weight-bold-text">カテゴリー</div>
    <div class="form">
      <div class="weight-bold-text">
        カテゴリー
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box form-control", id:"item-category"}) %>
    </div>
  </div>

  <div class="items-detail">
    <div class="weight-bold-text">カラー</div>
    <div class="form">
      <div class="weight-bold-text">
        カラー
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class:"select-box form-control", id:"item-category"}) %>
    </div>
  </div>

  <div class="items-detail">
    <div class="weight-bold-text">ブランド</div>
    <div class="form">
      <div class="weight-bold-text">
        ブランド
      </div>
      <%= f.text_field :maker, class:"maker-form form-control" %>
    </div>
  </div>
  
  <div class="sell-btn-contents">
    <%= f.submit "登録する" ,class:"sell-btn btn btn-outline-dark" %>
  </div>
<% end %>
