<%= search_form_for @q, url: search_items_path, class:'search-form' do |f| %>
  <%= f.search_field :text_or_maker_cont, class:'input-box form-control', placeholder:"キーワードから探す" %>
  <button class="search-button">
    <%= image_tag "search.png", class:"search-icon" %>
  </button>
<% end %>

<%= search_form_for @q, url: search_items_path, class:'search-form' do |f| %>
  <%= f.collection_select(:category_id_eq,Category.all,:id,:name,{},{class: "input-box form-control"})%>
  <button class="search-button">
    <%= image_tag "search.png", class:"search-icon" %>
  </button>
<% end %>

<%= search_form_for @q, url: search_items_path, class:'search-form' do |f| %>
  <%= f.collection_select(:color_id_eq,Color.all,:id,:name,{},{class: "input-box form-control"})%>
  <button class="search-button">
    <%= image_tag "search.png", class:"search-icon" %>
  </button>
<% end %>