<div class="top-page">
  <%= render "shared/header" %>
  <div>
    <form class="search-form" action="#">
      <input class='input-box form-control ' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>

  <div class="item-list">
    <% @items.each do |item| %>
      <div class="card shadow-sm">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <a href="#" class="btn btn-outline-light">show</a>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to new_item_path ,class: 'purchase-btn' do %>
    <span class='purchase-btn-text'>登録する</span>
    <%= image_tag 'shirt.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
  <%= link_to moneys_path ,class: 'purchase-btn2' do %>
    <span class='purchase-btn-text'>残高</span>
    <%= image_tag 'shirt.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
</div>