<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
      <% if !Favorite.exists?(user: current_user, item_id: @item.id)%>
        <%= link_to item_favorites_path(@item.id), method: :post, class:"star-btn favorite-post" do %>
          <%= image_tag "star.png", class:"star-icon" %>
        <% end %>
      <% else %>
        <%= link_to item_favorites_path(@item.id), method: :delete, class:"star-btn" do %>
          <%= image_tag "star.png", class:"star-icon favorite-delete" %>
        <% end %>
      <% end %>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">詳細</th>
          <td class="detail-value"><%= @item.text %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カラー</th>
          <td class="detail-value"><%= @item.color.name %></td>
        </tr>
        <% if @item.maker.present? %>
          <tr>
            <th class="detail-item">ブランド</th>
            <td class="detail-value"><%= @item.maker %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="show-buttons">
      <%= link_to "編集", edit_item_path(@item.id), method: :get, class: "btn btn-outline-dark edit-btn" %>
      <%= link_to "削除", item_path(@item.id), method: :delete, class:"btn btn-outline-dark destroy-btn" %>
    </div>
  </div>
</div>